@import "reset";
@import "content";
@import "search";
$content-color: #03a9f4;

body{
	background-color: #C0C0C0
}
/* grid */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
}
.col:first-child { margin-left: 0; }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 230px;
}


/* style */

.title {
  text-align: center;
  margin: 5%;
}
.main_col {

  width: calc(100% - 230px);
  height: 100em;
  margin-left: 230px;
}
.setting {
  position: fixed;
  height: 100%;
	background-color: $content-color;
}

.form {
  text-align: center;
}

.colpick {
  margin: 0 auto;
  max-width: 100%;
}

.color_wrap {
	padding: 10px;
	cursor: pointer;
	text-transform: uppercase;
	text-align: left;
	width: 200px;
	margin: 10px;
	color: #fff;
	border-radius: 10px;

			& > div:first-child {
				border-radius: 10px 10px 0 0;
}
			& > div:last-child {
				border-radius: 0 0 10px 10px;
			}
			& > div {
				padding: 10px;
			}
}

.green_sea {background-color: #16A085;}
.emerland {background-color: #2ECC71;}
.nephritis {background-color: #27AE60;}
.peter_river{background-color: #3498DB;}
.belizehole{background-color: #2980B9;}
.amethyst{background-color: #9B59B6;}
.Wisteria{background-color: #8e44ad;}
.wet_asphalt{background-color: #34495E;}


.button {
	margin-top: 80px;
	text-align:center;
}

@media only screen and (max-width: 900px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
  .main_col {width: 100%; margin: 0}
  .setting {max-height: 300px; position: relative;}
}
