html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
}

/* grid */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col {
  display: block;
  float: left;
}

.col:first-child {
  margin-left: 0;
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 25%;
}

/* style */
.title {
  text-align: center;
  margin: 5%;
}

.main_col {
  background-color: lightblue;
  width: 75%;
  height: 100em;
  margin-left: 25%;
}

.setting {
  position: fixed;
  height: 100%;
}

.form {
  text-align: center;
}

.colpick {
  margin: 0 auto;
  max-width: 100%;
}

.color_wrap {
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: left;
  width: 200px;
  margin: 10px;
  color: #fff;
  border-radius: 10px;
}
.color_wrap > div:first-child {
  border-radius: 10px 10px 0 0;
}
.color_wrap > div:last-child {
  border-radius: 0 0 10px 10px;
}
.color_wrap > div {
  padding: 10px;
}

.green_sea {
  background-color: #16A085;
}

.emerland {
  background-color: #2ECC71;
}

.nephritis {
  background-color: #27AE60;
}

.peter_river {
  background-color: #3498DB;
}

.belizehole {
  background-color: #2980B9;
}

.amethyst {
  background-color: #9B59B6;
}

.Wisteria {
  background-color: #8e44ad;
}

.wet_asphalt {
  background-color: #34495E;
}

@media only screen and (max-width: 900px) {
  .span_2_of_2, .span_1_of_2 {
    width: 100%;
  }

  .main_col {
    width: 100%;
    margin: 0;
  }

  .setting {
    max-height: 300px;
    position: relative;
  }
}
