html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
}

body {
  background-color: #888888;
  color: #fff;
}

.btn {
  font-family: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
  color: #fff;
  border: 1px white solid;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.basic {
  background-color: #000;
}

.one {
  transition: all ease-in-out .2s;
  background-color: #000;
}
.one:hover {
  transform: scale(1.15);
}

.two {
  background-color: #000000;
}
.two:hover {
  background-color: #3e3e3e;
  transition: background-color .2s ease-out;
}

.three {
  border-radius: 10px;
  background-color: #000;
}

.four {
  border: 2px #ecd013 solid;
  background-color: #000;
}

.five:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #fff;
}

.five:hover,
.five:active {
  color: #0e83cd;
}

.five:hover:after,
.five:active:after {
  height: 100%;
}

.wrap {
  width: 50%;
  position: absolute;
  top: 30px;
  left: 55%;
  transform: translate(-50%, -50%);
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  padding: 15px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}

.searchButton {
  position: absolute;
  right: 0px;
  width: 40px;
  height: 34px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: #3547B3;
}

* {
  box-sizing: border-box;
}

#popup-check {
  display: none;
}
#popup-check:checked + * + #popup-label2 {
  opacity: 1;
  pointer-events: auto;
}
#popup-check:checked + * + * + #popup-form {
  opacity: 1;
  pointer-events: auto;
}

#popup-label {
  color: #fff;
}
#popup-label:hover {
  cursor: pointer;
}

#popup-label2 {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
  pointer-events: none;
}
#popup-label2:hover {
  cursor: pointer;
}

#popup-form {
  transform: translateX(-50%);
  bottom: 50%;
  left: 50%;
  background: #fff;
  border-radius: 2px;
  width: 650px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: block;
  transition: opacity .3s ease;
  opacity: 0;
  pointer-events: none;
}
#popup-form input {
  margin: 10px auto;
  padding: 0;
  display: block;
  width: 100%;
}

textarea {
  width: 100%;
  max-width: 100%;
  resize: none;
}

body {
  background-color: #C0C0C0;
}

/* grid */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col {
  display: block;
  float: left;
}

.col:first-child {
  margin-left: 0;
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 230px;
}

/* style */
.title {
  text-align: center;
  margin: 5%;
}

.main_col {
  width: calc(100% - 230px);
  height: 100em;
  margin-left: 230px;
}

.setting {
  position: fixed;
  height: 100%;
  background-color: #03a9f4;
}

.form {
  text-align: center;
}

.colpick {
  margin: 0 auto;
  max-width: 100%;
}

.color_wrap {
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: left;
  width: 200px;
  margin: 10px;
  color: #fff;
  border-radius: 10px;
}
.color_wrap > div:first-child {
  border-radius: 10px 10px 0 0;
}
.color_wrap > div:last-child {
  border-radius: 0 0 10px 10px;
}
.color_wrap > div {
  padding: 10px;
}

.green_sea {
  background-color: #16A085;
}

.emerland {
  background-color: #2ECC71;
}

.nephritis {
  background-color: #27AE60;
}

.peter_river {
  background-color: #3498DB;
}

.belizehole {
  background-color: #2980B9;
}

.amethyst {
  background-color: #9B59B6;
}

.Wisteria {
  background-color: #8e44ad;
}

.wet_asphalt {
  background-color: #34495E;
}

.button {
  margin-top: 80px;
  text-align: center;
}
.button li {
  display: inline-block;
}

.no-result {
  display: none;
}

.new-button {
  text-align: center;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #ff9800;
  padding: 15px;
  color: #000000;
}

@media only screen and (max-width: 900px) {
  .span_2_of_2, .span_1_of_2 {
    width: 100%;
  }

  .main_col {
    width: 100%;
    margin: 0;
  }

  .setting {
    max-height: 300px;
    position: relative;
  }
}
